.product-card {
	display: inline-block;
	vertical-align: top;
	height: 25rem;
	background: #efe8df;
	padding: 20px;
	transition: 0.3s ease;
	margin: 20px;
	text-align: left;
	border-radius: 5px;

	p {
		font-size: 20px;
		margin-top: 5px;
	}

	h3 {
		font-size: 32px;
		margin-top: 10px;
		color: black;
		font: bolder;
	}

	img {
		height: 16rem;
		width: 16rem;
	}

}

.product-card:hover {
	transform: translateY(-5px);
}
