.product-card {
	display: inline-block;
	vertical-align: top;
	height: 25rem;
	background: #efe8df;
	padding: 20px;
	transition: 0.3s ease;
	margin: 20px;

	p {
		font-size: 14px;
		color: #7a4e2d;
		margin-top: 5px;
	}

	h3 {
		font-size: 16px;
		margin-top: 15px;
		color: black;
	}

	img {
		height: 16rem;
		width: 16rem;
	}

}

.product-card:hover {
	transform: translateY(-5px);
}
