.product-card {
	background: #efe8df;
	padding: 20px;
	transition: 0.3s ease;

	p {
		font-size: 14px;
		color: #7a4e2d;
		margin-top: 5px;
	}

	h3 {
		font-size: 16px;
		margin-top: 15px;
	}

}

.product-card:hover {
	transform: translateY(-5px);
}
